<tr id="<%= dom_id product %>">
  <td><%= index + 1 %></td>
  <td><%= product.name %></td>
  <td><%= product.price %></td>
  <td><%= product.quantity %></td>
  <td><%= link_to "View", product %></td>
</tr>
